@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap");

@layer base {
  html {
    font-family: "Red Hat Display", sans-serif;
    color: #05040d;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden !important;
  }
  body {
    box-sizing: border-box;
    overflow-x: hidden !important;
  }
  body::-webkit-scrollbar {
    width: 0.5em;
  }

  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* box-shadow: none; */
  }

  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px 5px;
  }
}

@layer components {
  .checkbox {
    accent-color: #84904b;
  }

  .btn-gradient-bg {
    background: linear-gradient(
      90deg,
      #40471b 0%,
      #8c8843 51.56%,
      #e0cf6f 100%
    );
  }

  .first__package ul li::before {
    content: "\2022";
    color: #e0cf6f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
  }

  .second__package ul li::before {
    content: "\2022";
    color: #e0cf6f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
  }
  .third__package ul li::before {
    content: "\2022";
    color: #84904b;
    font-weight: bold;
    display: inline-block;
    width: 1em;
  }

  /* Blog styling */
  .blog blockquote {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: #999;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0 5px 0 20px;
    border: solid #b1b1b1;
    border-width: 0 0 0 5px;
  }
  .blog a {
    @apply underline text-[#84904B];
  }
  .blog iframe {
    @apply min-h-[400px];
  }
  .blog .se-video-container {
    @apply !max-h-fit;
  }

  .blog ul {
    list-style-type: disc;
    padding: 0px 20px;
  }

  .blog ol {
    list-style-type: decimal;
    padding: 0px 20px;
  }

  .blog table {
    background-color: initial;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin: 0 0 10px;
    max-width: 100%;
    table-layout: auto !important;
    width: 100%;
  }

  .blog table tr {
    border: 1px solid #efefef;
  }

  .blog table td {
    background-clip: padding-box;
    border: 1px solid #e1e1e1;
    padding: 0.4em;
  }

  .nav-btn-active {
    @apply uppercase w-[156px] bg-[#E0CF6F] text-sm text-white font-bold py-[10px] px-[15px];
  }
  .nav-btn-inactive {
    @apply uppercase w-[156px] text-sm text-[#E0CF6F] font-bold py-[10px] px-[15px];
  }
}

@media only screen and (max-width: 630px) {
  .blog .se-image-container figure {
    max-width: 90vw;
  }

  .blog .se-image-container figure img {
    object-fit: contain;
  }
}
