.prev-arrow {
  position: absolute;
  top: -100px;
  left: 46%;
}
.next-arrow {
  position: absolute;
  top: -100px;
  left: 51%;
}

@media only screen and (max-width: 630px) {
  .prev-arrow {
    top: -100px;
    left: 38%;
  }
  .next-arrow {
    top: -100px;
    left: 53%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 850px) {
  .prev-arrow {
    top: -100px;
    left: 45%;
  }
  .next-arrow {
    top: -100px;
    left: 52%;
  }
}
